<div class="jumbotron">
  <h2>Welcome to Ensalutilo!</h2>
  <p class="lead">
    This is the registration page
  </p>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>Register</h4>
    <form action="register" method="POST">
      <input name="name" id="name"/>
      <button type="submit">Register</button>
    </form>
  </div>
</div>

